<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
    <span>Alış Veriş</span>
    <button mat-button routerLink="/"><mat-icon>home</mat-icon>Ana Sayfa</button>
    <button mat-button *ngIf="isAuth"> <mat-icon> view_stream</mat-icon>Ürün Ekle</button>
    
    <button mat-button routerLink="/orders"> <mat-icon>shopping_basket</mat-icon> Siparişler</button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" *ngIf="!isAuth" routerLink="/Login"  class="mx-4"> <mat-icon>launch</mat-icon>Giriş Yap</button>
    <button mat-raised-button color="accent" *ngIf="isAuth" (click)="logaut()"> <mat-icon>exit_to_app</mat-icon>Çıkış Yap</button>
  </mat-toolbar>
