<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
    <span>Alış Veriş</span>
    <button mat-button><mat-icon>home</mat-icon>Ana Sayfa</button>
    <button mat-button> <mat-icon> view_stream</mat-icon>Ürün Ekle</button>
    <button mat-button> <mat-icon> attach_money</mat-icon> Ödenecek Tutar</button>
    <button mat-button> <mat-icon>shopping_basket</mat-icon> Siparişler</button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary"  class="mx-4"> <mat-icon>launch</mat-icon>Giriş Yap</button>
    <button mat-raised-button color="accent"> <mat-icon>exit_to_app</mat-icon>Çıkış Yap</button>
  </mat-toolbar>
